.component-library {
  position: relative;
}

.component-library .component-library-content {
  margin-left: 195px; /* Width of sidebar + some padding */
  margin-right: 10px;
  height: 100%; /* Use 100% of parent container */
  overflow: hidden;
}