.component-library {
  position: relative;
  /* Subtract header height precisely */
  margin-top: 60px;
}

.component-library .component-library-content {
  margin-left: 190px; /* Width of sidebar + some padding */
  padding: 20px;
  height: 100%; /* Use 100% of parent container */
  overflow: hidden;
}