
/* src/components/Sidebar.css */
.sidebar {
    position: fixed;
    left: 0;
    top: 60px;  /* Matches the header's total height */
    width: 150px;
    height: calc(100vh - 60px);  /* Subtract header height */
    background-color: #2c3e50;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 0 15px rgba(0, 0, 0, 0.2);
    flex-shrink: 0;
    z-index: 1000;
}

.sidebar-item {
    display: flex;
    align-items: center;
    padding: 15px;
    font-size: 16px;
    color: #ecf0f1; /* Light text color to stand out on the dark background */
    text-decoration: none;
    transition: background-color 0.3s ease, font-weight 0.3s ease;
    border-radius: 5px;
    font-weight: 500;
}

.sidebar-item:hover {
    background-color: #f39c12; /* Golden color on hover */
    font-weight: bold;
}

.sidebar-item.active {
    background-color: #f39c12; /* Active item background with golden color */
    color: white;
    font-weight: bold;
}

.sidebar-item:active {
    background-color: #e67e22; /* Slightly darker golden shade on click */
}

.sidebar-item + .sidebar-item {
    margin-top: 10px; /* Space between items */
}

.sidebar-item svg {
    margin-right: 10px; /* Space between icon and text */
}

  